body{
    font-size: 20px;
}
.title{
    font-family: 'Roboto Mono', monospace;
}
.text{
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 200%;
    text-transform: uppercase;
    text-indent: 50px;
    /*word-spacing: 20px;*/
    letter-spacing: 5px;
}
.text-one{
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color: red;
    font-style: italic;
}
.text-one::selection{
    font-family:  'Roboto Mono', monospace;
    font-size: 40px;
    color: blue;
    font-style: italic;
}